h1, table, tr, td, th, label{
	text-align: center;
	color: white;
}

h1 {
	font-size: calc(20px + 1vw);
}

table, tr, td, th {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 8px;
	font-family: Arial;
	font-weight: 300;
	font-size: calc(15px + 3vh);
}

#root {
	text-align: center;
}

body{
	background-image: url("./sand.jpg");
	background-color: deepskyblue;
	background-size: cover;
	background-repeat: repeat;
	text-shadow: #000000 0px 0px 1px,   #000000 0px 0px 1px,   #000000 0px 0px 1px,
							 #000000 0px 0px 1px,   #000000 0px 0px 1px,   #000000 0px 0px 1px,
							 #000000 0px 0px 1px,   #000000 0px 0px 1px,   #000000 0px 0px 1px,
							 #000000 0px 0px 1px,   #000000 0px 0px 1px,   #000000 0px 0px 1px,
 							 #000000 0px 0px 1px,   #000000 0px 0px 1px,   #000000 0px 0px 1px;
}

select, label, input{
	font-size: calc(10px + 1vw);
}
select, input{
	background-color: honeydew;
	border: 1px solid black;
	border-radius: 3px;
	color: black;
	margin-left: 20px;
	cursor: pointer;
}

button{
	background-color: dodgerblue;
	border: 1px solid white;
	border-radius: 6px;
	color: white;
	padding: 15px 20px;
	text-align: center;
	font-size: calc(10px + 1vw);
	margin: 4px 2px;
	cursor: pointer;
}