h1,
table,
tr,
td,
th,
label,
p {
  text-align: center;
  color: white;
}

h1 {
  font-size: calc(15px + 1vw);
  font-weight: 400;
  margin: 0;
}

table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px calc(2px + 1vw);
  font-family: Arial;
  font-weight: 300;
  font-size: calc(5px + 1.8vw);
}

#root {
  text-align: center;
}

body {
  background-image: url("./sand.jpg");
  background-image: url("./sand.webp");
  background-color: deepskyblue;
  background-repeat: repeat;
  font-family: Arial;
}

h1,
#cardContainer,
label,
tbody {
  text-shadow: #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px,
    #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px,
    #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px;
}

select,
label,
input {
  font-size: calc(10px + 0.8vw);
}
select,
input {
  background-color: honeydew;
  border: 1px solid black;
  border-radius: 3px;
  color: black;
  margin-left: 20px;
  cursor: pointer;
}
