/* Container for the 5 weather cards */
#cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  padding-bottom: 20px;
  grid-gap: 6px;
}

#cardContainer .Card:last-child {
  grid-column: 2 / 4;
}

#cardContainer div {
  height: content;
  margin-bottom: 0px;
  cursor: pointer;
  grid-column: span 2;
}

.Card,
.cardButton,
input[type="submit"] {
  transform: scale(0.95);
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1);
  }
}

/* Table inside DayCast component  */
table {
  box-shadow: 0px 0px 3px 4px black;
  border: none;
  border-radius: calc(5px + 1vw);
  overflow: auto;
}

tr:first-child,
tr:first-child th {
  border-top: none;
}

tr,
th:first-child,
td:first-child {
  border-left: none;
}

tr,
th:last-child,
td:last-child {
  border-right: none;
}

tr:last-child,
tr:last-child td {
  border-bottom: none;
}

.cardButton {
  border: 1px solid white;
  border-radius: calc(5px + 1vw);
  color: white;
  padding: calc(5px + 0.5vw);
  text-align: center;
  font-size: calc(10px + 1vw);
  margin: 4px 10px;
  cursor: pointer;
  outline: none;
}

#prevbtn {
  background-color: red;
  background-image: linear-gradient(to bottom right, red, darkred);
}
#backbtn {
  background-color: dodgerblue;
  background-image: linear-gradient(to bottom right, blue, darkblue);
}
#nextbtn {
  background-color: forestgreen;
  background-image: linear-gradient(to bottom right, forestgreen, darkgreen);
}

/* Map */
#mapContainer {
  height: 35vh;
  width: 100%;
  margin: 10px auto 0 auto;

  input {
    margin-bottom: 10px;
  }
}

/* Media Queries */
@media only screen and (min-width: 850px) {
  #cardContainer {
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 0;
  }

  #cardContainer div {
    margin-bottom: 6px;
    grid-column: span 1;
  }

  #cardContainer .Card:last-child {
    grid-column: span 1;
  }

  #mapContainer {
    width: 70%;
    margin-bottom: 6px;
    grid-column: span 1;
  }

  #cardContainer #Card5 {
    grid-column: span 1;
  }
}
