h1,
table,
tr,
td,
th,
label,
input,
p {
  color: white;
}

h1 {
  font-size: calc(15px + 1vw);
  font-weight: 400;
  margin: 0;
}

h1,
#cardContainer,
.cardButton,
label,
tbody,
input {
  text-shadow: #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px,
    #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px,
    #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px, #000000 0px 0px 1px;
}

label,
input {
  font-size: calc(10px + 0.8vw);
}
input {
  background-color: forestgreen;
  background-image: linear-gradient(to bottom right, forestgreen, darkgreen);
  border: 2px solid black;
  border-radius: 5px;
  padding: 5px 15px;
  cursor: pointer;
}

/* Container for the 5 weather cards */
#cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 6px;
  margin-bottom: 5px;

  /* The cards themselves */
  .Card:last-child {
    grid-column: 2 / 4;
  }

  // Same as .Card, .weatherCard
  div {
    height: content;
    cursor: pointer;
    grid-column: span 2;
  }
}

/* Button animatons */
.Card,
.cardButton,
input[type="submit"] {
  transform: scale(0.95);
  transition: transform 0.2s linear;
  &:hover {
    transform: scale(1);
  }
}

/* The contents of the cards */
.weatherCard {
  background-size: cover;
  background-color: powderblue;
  text-align: center;
  padding: 3px;
  border-radius: 5%;
  box-shadow: 0px 0px 3px 3px black;
}

.mainh2,
.highh2,
.lowh2 {
  font-size: calc(8px + 2vw);
}

.mainh2 {
  color: white;
  font-weight: 300;
  margin: 10px;

  word-wrap: break-word;
}

.highh2 {
  color: orange;
  font-weight: 200;
}

.lowh2 {
  color: skyblue;
  font-weight: 200;
}

/* Table inside DayCast component  */
table,
tr,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 8px calc(2px + 1vw);
  font-family: Arial;
  font-weight: 300;
  font-size: calc(5px + 1.8vw);
}

table {
  box-shadow: 0px 0px 3px 4px black;
  border: none;
  border-radius: calc(5px + 1vw);
  overflow: auto;
}

tr:first-child,
tr:first-child th {
  border-top: none;
}

tr,
th:first-child,
td:first-child {
  border-left: none;
}

tr,
th:last-child,
td:last-child {
  border-right: none;
}

tr:last-child,
tr:last-child td {
  border-bottom: none;
}

.cardButton {
  border: 3px solid black;
  border-radius: calc(5px + 1vw);
  color: white;
  padding: calc(5px + 0.5vw);
  font-size: calc(10px + 1vw);
  margin: 4px 10px;
  cursor: pointer;
  outline: none;
}

#prevbtn {
  background-color: red;
  background-image: linear-gradient(to bottom right, red, darkred);
}
#backbtn {
  background-color: dodgerblue;
  background-image: linear-gradient(to bottom right, blue, darkblue);
}
#nextbtn {
  background-color: forestgreen;
  background-image: linear-gradient(to bottom right, forestgreen, darkgreen);
}

/* Map */
#map {
  height: 35vh;
  width: 100%;
  margin: 10px auto 30px auto;
  border: 5px solid white;
}

/* Media Queries */
@media only screen and (min-width: 850px) {
  #cardContainer {
    grid-template-columns: repeat(5, 1fr);
    padding-bottom: 0;
  }

  #cardContainer div {
    grid-column: span 1;
  }

  #cardContainer .Card:last-child {
    grid-column: span 1;
  }

  #map {
    width: 70%;
    height: 45vh;
  }

  .mainh2,
  .highh2,
  .lowh2 {
    font-size: calc(15px + 1vw);
  }
}
