#cardContainer {
    display: grid;
		grid-template-columns: calc(25% - 6px) calc(25% - 6px) calc(25% - 6px) calc(25% - 6px);
    padding-left: 6px;
		grid-gap: 6px;
}

#cardContainer #Card5 {
	grid-column: 2 / 4;
}

#cardContainer div {
		height: content;
		margin-bottom: 0px;
		cursor: pointer;
		grid-column: span 2;
}

@media only screen and (min-width: 1000px) {
    #cardContainer {
        grid-template-columns: calc(20% - 6px) calc(20% - 6px) calc(20% - 6px) calc(20% - 6px) calc(20% - 6px); 
    }
		
		#cardContainer div {
				height: calc(250px + 10vw);
				margin-bottom: 6px;
				grid-column: span 1;
		}
		
		#cardContainer #Card5 {
				grid-column: span 1;
		}
}