.weatherCard {
  background-size: cover;
  background-color: powderblue;
  text-align: center;
  padding: 3px;
  border-radius: 5%;
  box-shadow: 0px 0px 3px 3px black;
}

.mainh2,
.highh2,
.lowh2 {
  font-size: calc(8px + 2vw);
}

.mainh2 {
  color: white;
  font-weight: 300;
  margin: 10px;

  word-wrap: break-word;
}

.highh2 {
  color: orange;
  font-weight: 200;
}

.lowh2 {
  color: skyblue;
  font-weight: 200;
}

@media only screen and (min-width: 850px) {
  .mainh2,
  .highh2,
  .lowh2 {
    font-size: calc(15px + 1vw);
  }
}
